
<div class="thumbnail">
  <img class="group list-group-image" ng-src="{{ model.category.image }}"  alt="" /><div class="caption">

  <h4 class="group inner list-group-item-heading">
              <!-- <a ng-click="model.getProducts(model.category.categoryid)">{{ model.category.categoryname }}</a></h4> -->
              <!-- <a ng-href="/productCatalog/categories/{{model.category.categoryid}}">{{ model.category.categoryname }}</a></h4> -->

                <a ng-href="/{{model.category.categoryid}}">{{ model.category.categoryname }}</a></h4>
</div>
</div>
