<div class="container">
  <div class="well well-sm">
    <strong>Display Products</strong>
    <!--<div class="btn-group">-->
    <!--  <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">-->
    <!--        </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span-->
    <!--            class="glyphicon glyphicon-th"></span>Grid</a>-->
    <!--</div>-->
  </div>


  <div id="products" class="row list-group" >


    <%  products.forEach(function(product){  %>
  <!-- <view-product value="<%= product %>"></view-product> -->
  <h4><%= product.displayname %></h4>
<% }); %>

  </div>

   <a class="btn btn-success" ng-click='addToCart()' href=''>Proceed to Cart</a> -->

</div>
