<!--<table>-->
<!--<thead> -->
<!--<tr>-->

<!--    <th>Product Name</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="product in model.productList">-->
<!--    <td><img ng-src="{{ product.image }}" /></td>-->
<!--    <td>{{ product.name }}</td>-->
<!--    <td>{{ product.price }}</td>-->

<!--    <td>-->
<!--        <a  href="#" ng-click="edit(contact.id)">Buy</a> -->

<!--    </td>-->
<!-- </tr>-->
<!--</tbody>-->
<!--</table> -->

<div class="container">
  <div class="well well-sm">
    <strong>Display Products</strong>
    <!--<div class="btn-group">-->
    <!--  <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">-->
    <!--        </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span-->
    <!--            class="glyphicon glyphicon-th"></span>Grid</a>-->
    <!--</div>-->
  </div>
  <div id="products" class="row list-group"  ng-repeat="product in model.productList">
    <div class="item  col-xs-4 col-lg-4" >
      <div class="thumbnail">
        <img class="group list-group-image" ng-src="{{ product.image }}" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
                        {{ product.displayname }}</h4>
          <p class="group inner list-group-item-text">
            {{ product.description }}</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                {{ product.price }}</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" ng-click="count = count + 1" ng-init="count=0">Add </a>
              <!--<a class="btn btn-success" ng-if="count>0" ng-click="count = count - 1" >Remove from cart</a>-->
              <a class="btn btn-success" ng-if="count>0">{{count}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

   <a class="btn btn-success" href="http://www.jquery2dotnet.com">Proceed to Cart</a>

</div>
